# Archivos y carpetas ignorados por Maven y Gradle
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Archivos compilados y empaquetados
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Logs
*.log

# Archivos temporales de BlueJ, J2ME, errores de VM
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*

.env
